.loc__cards{
    background-color: orange;
    /* border: 3px dotted green;
    background: #CE5937 20%;
    background: -moz-linear-gradient(45deg, #CE5937 0%, #1C6EA4 29%, #4CC52B 100%);
    background: -webkit-linear-gradient(45deg, #CE5937 0%, #1C6EA4 29%, #4CC52B 100%);
    background: linear-gradient(45deg, #CE5937 0%, #1C6EA4 29%, #4CC52B 100%); */
    padding: 10px; 
    margin: auto;
    align-content: space-around;
    justify-content: space-evenly;
    height: 20em;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: justify;
    flex-basis: 10%;
}


.locations{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
    
}